.WhyList {
    width: 100%;
    height: 600px;
    background-color: #F0F4F7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.WhyList > h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}
.ListBoxWrapper {
    display: flex;
    justify-content: space-around;
}